<div class="container">
    <div class="title">
        <h1>About Me</h1>
    </div>
    <div class="content about_me">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <video controls>
                    <source src="/videos/60 minutes video.mp4" type="video/mp4">
                </video>
                <br>
                <br>
                <span>I am Jorge Delgado. I am a 33-year-old International Student at Ontario Tech University. Over the last 2 years, I have taken 2 courses in Programming: Intro to Programming for IT and Object Oriented Programming. Personally, I liked the OOP course because it taught me new approaches and Paradigms related to programming such the fact that is possible to reuse code.</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>