<div class="container">
    <div class="title">
        <h1>Contact</h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="formulario-contacto">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="input" type="text" name="nombre" placeholder="Nombre *" required>
                        </div>
                        <div class="col-md-6">
                            <input class="input" type="text" name="apellido" placeholder="Apellido *">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="input" type="tel" name="telefono" placeholder="Telefono *" required>
                        </div>
                        <div class="col-md-6">
                            <input class="input" type="email" name="email" placeholder="Correo Electronico *" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="mensaje" rows="7" placeholder="Escribenos tu mensaje o consulta aqui *"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label><input class="input" type="checkbox" name="terms"> He leido y acepto los terminos y condiciones</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 boton">
                            <input type="submit" value="Enviar">
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
</div>