<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <img src="/img/foto.jpg"/>
        </div>
        <div class="col-md-6">
            <div class="title" style="margin-top: 8rem;">
                <h1>Hi! I am Jorge Delgado</h1>
                <h3>Student at Ontario Tech University</h3>
            </div>
            <div class="title">
                <h2>Welcome to my site</h2>
            </div>
        </div>
    </div>
</div>